Repository david-t-martel/mistral.rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-sort, ast-grep, biome, pwsh-analyze

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort (workspace)
  ...

ast-grep:
  name: ast-grep
  entry: ast-grep scan -c tools/ast-grep/sgconfig.yml
  language: system
  stages:
  - pre-commit
  pass_filenames: false

biome:
  name: biome check
  entry: bash -c 'if [ -f node_modules/.bin/biome ]; then node_modules/.bin/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched .; else echo "biome not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pwsh-analyze:
  name: PowerShell Script Analyzer (errors only)
  ...

chore(todos): add TODO annotations for several unimplemented paths
  mistralrs-core/src/lora/qloralinear.rs
  mistralrs-core/src/models/deepseek2.rs
  mistralrs-core/src/utils/gguf_metadata.rs
  mistralrs-core/src/vision_models/llava/llava_llm/mistral.rs
  mistralrs-server/src/interactive_mode.rs
Due: cargo-fmt, ast-grep

feat(testing): Phase 2 - Coverage & Measurement (40% Complete)
  docs/COVERAGE_BASELINE.md
  docs/PHASE2_PLAN.md
  docs/PHASE2_PROGRESS.md
  docs/STATUS_REPORT.md
  mistralrs-agent-tools/src/lib.rs
  mistralrs-agent-tools/src/test_utils.rs
  mistralrs-agent-tools/tests/fixtures/README.md
  mistralrs-agent-tools/tests/fixtures/configs/sample_config.json
  mistralrs-agent-tools/tests/fixtures/text/sample_input.txt
Due: cargo-fmt, ast-grep, biome

feat(agent-tools): implement tiered security policy system
  Cargo.lock
  mistralrs-agent-tools/Cargo.toml
  mistralrs-agent-tools/SECURITY.md
  mistralrs-agent-tools/src/tools/sandbox.rs
  mistralrs-agent-tools/src/types/mod.rs
  mistralrs-agent-tools/src/types/security.rs
Due: cargo-fmt, cargo-sort, ast-grep

chore(agent-tools): format code with rustfmt and fix markdown numbering
  mistralrs-agent-tools/SECURITY.md
  mistralrs-agent-tools/src/tools/sandbox.rs
  mistralrs-agent-tools/src/types/mod.rs
  mistralrs-agent-tools/src/types/security.rs
Due: cargo-fmt, ast-grep

fix(agent-tools): fix doctest compilation errors in winutils module
  mistralrs-agent-tools/src/tools/winutils/text.rs
  mistralrs-agent-tools/src/tools/winutils/wrapper.rs
Due: cargo-fmt, ast-grep

fix(agent-tools): resolve all Clippy warnings
  mistralrs-agent-tools/src/pathlib.rs
  mistralrs-agent-tools/src/tools/sandbox.rs
  mistralrs-agent-tools/src/tools/search/mod.rs
  mistralrs-agent-tools/src/tools/text/grep.rs
  mistralrs-agent-tools/src/tools/text/head.rs
  mistralrs-agent-tools/src/tools/text/sort.rs
  mistralrs-agent-tools/src/tools/text/tail.rs
  mistralrs-agent-tools/src/types/mod.rs
  mistralrs-agent-tools/src/types/security.rs
Due: cargo-fmt, ast-grep

fix(agent-tools): fix Windows-specific test failures
  mistralrs-agent-tools/src/pathlib.rs
  mistralrs-agent-tools/src/test_utils.rs
  mistralrs-agent-tools/src/tools/file/cat.rs
  mistralrs-agent-tools/src/tools/shell/executor.rs
  mistralrs-server/src/agent_mode.rs
Due: cargo-fmt, ast-grep

feat(agent-tools): implement AgentToolProvider for mistralrs-core integration
  AGENT_INTEGRATION_ANALYSIS.md
  Cargo.lock
  PHASE1_IMPLEMENTATION_PLAN.md
  mistralrs-agent-tools/Cargo.toml
  mistralrs-agent-tools/src/core_integration.rs
  mistralrs-agent-tools/src/lib.rs
Due: cargo-fmt, cargo-sort, ast-grep

feat(agent-tools): add MCP server implementation (Phase 1.2)
  mistralrs-agent-tools/src/bin/mcp-server.rs
  mistralrs-agent-tools/src/lib.rs
  mistralrs-agent-tools/src/mcp_server.rs
Due: cargo-fmt, ast-grep

fix(agent-tools): Complete Phase 1 - Fix all API compatibility issues
  PHASE1_PROGRESS.md
  mistralrs-agent-tools/PHASE1_COMPLETION_REPORT.md
  mistralrs-agent-tools/src/bin/mcp-server.rs
  mistralrs-agent-tools/src/mcp_server.rs
Due: cargo-fmt, ast-grep

docs(agent-tools): Complete Phase 2 integration assessment
  mistralrs-agent-tools/PHASE2_INTEGRATION_ASSESSMENT.md
  mistralrs-agent-tools/PHASE2_SUMMARY.md
Due: none

refactor(agent-tools): Phase 2.1 - Migrate agent_mode to tool_registry
  mistralrs-agent-tools/PHASE2.1_IMPLEMENTATION.md
  mistralrs-agent-tools/src/lib.rs
  mistralrs-server/src/agent_mode.rs
  mistralrs-server/src/main.rs
Due: cargo-fmt, ast-grep

feat(agent-tools): Phase 2.2 - Register tool callbacks with MistralRs engine
  mistralrs-agent-tools/PHASE2.2_IMPLEMENTATION.md
  mistralrs-agent-tools/src/lib.rs
  mistralrs-server-core/src/mistralrs_for_server_builder.rs
  mistralrs-server/src/agent_mode.rs
  mistralrs-server/src/main.rs
  mistralrs-server/src/tool_registry.rs
Due: cargo-fmt, ast-grep

test(agent-tools): Phase 2.3 - Add integration tests for AgentToolkit
  mistralrs-agent-tools/src/mcp_server.rs
  mistralrs-agent-tools/tests/tool_registry_integration.rs
Due: cargo-fmt, ast-grep

docs(agent-tools): Phase 2 Complete Summary
  mistralrs-agent-tools/PHASE2_COMPLETE.md
Due: none

feat(phase-2.4): Add CLI flags for agent tool configuration
  mistralrs-agent-tools/src/lib.rs
  mistralrs-server/src/main.rs
Due: cargo-fmt, ast-grep

feat(phase-2.5): Remove deprecated AgentTools and complete migration to AgentToolkit
  docs/phase-2.4-cli-flags-summary.md
  mistralrs-agent-tools/src/lib.rs
  mistralrs-agent-tools/tests/tool_registry_integration.rs
  mistralrs-server/src/main.rs
Due: cargo-fmt, ast-grep

docs(phase-2.6): Add comprehensive TUI agent integration enhancement plan
  docs/phase-2.6-tui-enhancement-plan.md
Due: none

feat(tui): Phase 2.6.1 - Foundation for agent mode integration
  Cargo.lock
  mistralrs-tui/Cargo.toml
  mistralrs-tui/migrations/0002_agent_tools.sql
  mistralrs-tui/src/agent/execution.rs
  mistralrs-tui/src/agent/mod.rs
  mistralrs-tui/src/agent/toolkit.rs
  mistralrs-tui/src/agent/ui.rs
  mistralrs-tui/src/config.rs
  mistralrs-tui/src/lib.rs
  mistralrs-tui/src/session.rs
Due: cargo-fmt, cargo-sort, ast-grep

feat(tui): implement tool execution engine (Phase 2.6.3)
  mistralrs-tui/src/agent/execution.rs
  mistralrs-tui/src/agent/toolkit.rs
  mistralrs-tui/src/agent/ui.rs
  mistralrs-tui/src/app.rs
  mistralrs-tui/src/ui.rs
Due: cargo-fmt, ast-grep

feat(tui): add tool call database persistence Phase 2.6.4
  mistralrs-tui/src/session.rs
Due: cargo-fmt, ast-grep

feat(tui): add execution event system Phase 2.6.5-a
  mistralrs-tui/src/agent/events.rs
  mistralrs-tui/src/agent/execution.rs
  mistralrs-tui/src/agent/mod.rs
  mistralrs-tui/src/agent/toolkit.rs
Due: cargo-fmt, ast-grep

feat(tui): add tool discovery for LLM integration Phase 2.6.5-b
  mistralrs-tui/src/agent/discovery.rs
  mistralrs-tui/src/agent/events.rs
  mistralrs-tui/src/agent/execution.rs
  mistralrs-tui/src/agent/mod.rs
  mistralrs-tui/src/agent/ui.rs
  mistralrs-tui/src/session.rs
Due: cargo-fmt, ast-grep

feat(tui): Add real-time tool execution UI with event streaming
  Cargo.lock
  mistralrs-tui/Cargo.toml
  mistralrs-tui/src/agent/discovery.rs
  mistralrs-tui/src/agent/events.rs
  mistralrs-tui/src/agent/execution.rs
  mistralrs-tui/src/agent/llm_integration.rs
  mistralrs-tui/src/agent/mod.rs
  mistralrs-tui/src/agent/ui.rs
  mistralrs-tui/src/app.rs
  mistralrs-tui/src/session.rs
  mistralrs-tui/src/ui.rs
Due: cargo-fmt, cargo-sort, ast-grep

feat(tui): Add tool suggestion palette with fuzzy search
  mistralrs-tui/src/agent/ui.rs
  mistralrs-tui/src/app.rs
  mistralrs-tui/src/ui.rs
Due: cargo-fmt, ast-grep

docs: Add comprehensive code review and optimization analysis
  mistralrs-tui/REVIEW.md
Due: none

feat: eliminate runtime panics and improve error handling
  .auto-claude.yml
  .pre-commit-config.yaml
  AUTO_CLAUDE_SETUP.md
  QUICK_WINS_COMPLETE.md
  README.md
  TODO_ANALYSIS.md
  mistralrs-core/src/attention/backends/flash.rs
  mistralrs-core/src/feature_detection.rs
  mistralrs-core/src/lib.rs
  mistralrs-core/src/lora/mod.rs
  mistralrs-core/src/lora/qloralinear.rs
  mistralrs-core/src/models/deepseek2.rs
  mistralrs-core/src/models/deepseek3.rs
  mistralrs-quant/src/afq/mod.rs
  mistralrs-quant/src/bitsandbytes/mod.rs
  mistralrs-quant/src/blockwise_fp8/mod.rs
  scripts/generate_todo_issues.ps1
  tools/ast-grep/rules/rust-panic-detection.yml
Due: cargo-fmt, ast-grep, pwsh-analyze

chore: Add additional project files and documentation updates
  docs/COVERAGE_BASELINE.md
  duplication-violations.json
  mistralrs-mcp/examples/config.rs
  tests/agent/mcp-agent-demo-config.json
  warp.md
Due: cargo-fmt, ast-grep, biome, pwsh-analyze

chore(agent-tools): document outstanding warnings
  mistralrs-agent-tools/src/mcp_server.rs
Due: cargo-fmt, ast-grep

feat(core): Comprehensive TODO resolution and error handling improvements
  OPTIMIZATION_ANALYSIS.md
  SESSION_SUMMARY.md
  TODO_FIXES_SUMMARY.md
  mistralrs-core/src/models/gemma.rs
  mistralrs-core/src/models/gemma2.rs
  mistralrs-core/src/models/glm4.rs
  mistralrs-core/src/models/llama.rs
  mistralrs-core/src/models/mistral.rs
  mistralrs-core/src/models/mixtral.rs
  mistralrs-core/src/models/phi2.rs
  mistralrs-core/src/models/phi3.rs
  mistralrs-core/src/models/phi3_5_moe.rs
  mistralrs-core/src/models/qwen2.rs
  mistralrs-core/src/models/qwen3.rs
  mistralrs-core/src/models/qwen3_moe.rs
  mistralrs-core/src/models/smollm3.rs
  mistralrs-core/src/models/starcoder2.rs
  mistralrs-core/src/pipeline/loaders/normal_loaders.rs
  mistralrs-core/src/utils/gguf_metadata.rs
  mistralrs-core/src/utils/model_config.rs
  mistralrs-core/src/vision_models/gemma3n/text.rs
  mistralrs-core/src/vision_models/llama4/mod.rs
  mistralrs-core/src/vision_models/llama4/text.rs
  mistralrs-core/src/vision_models/llava/llava_llm/llama.rs
  mistralrs-core/src/vision_models/llava/llava_llm/mistral.rs
  mistralrs-core/src/xlora_models/starcoder2.rs
  mistralrs-quant/src/fp8/mod.rs
  mistralrs-quant/src/gptq/gptq_cpu.rs
  mistralrs-quant/src/mxfp4/mod.rs
  mistralrs-quant/src/utils/ops.rs
Due: cargo-fmt, ast-grep

docs: Add comprehensive project scan results and optimization roadmap
  FINAL_SESSION_SUMMARY.md
  PROJECT_SCAN_RESULTS.md
Due: none

refactor: Quick wins - improve FIXME comments and error handling
  FIXME_TRACKING.md
  mistralrs-core/src/pipeline/diffusion.rs
  mistralrs-core/src/pipeline/speech.rs
  mistralrs/src/messages.rs
Due: cargo-fmt, ast-grep

refactor: Eliminate 133 unwrap() calls in critical user-facing code
  COMPLETE_WORK_SUMMARY.md
  UNWRAP_ELIMINATION_STRATEGY.md
  mistralrs-agent-tools/src/catalog.rs
  mistralrs-agent-tools/src/core_integration.rs
  mistralrs-agent-tools/src/lib.rs
  mistralrs-server/src/agent_mode.rs
  mistralrs-server/src/interactive_mode.rs
  mistralrs-server/src/mcp_server.rs
  mistralrs/src/anymoe.rs
  mistralrs/src/gguf.rs
  mistralrs/src/gguf_lora_model.rs
  mistralrs/src/gguf_xlora_model.rs
  mistralrs/src/lora_model.rs
  mistralrs/src/speculative.rs
  mistralrs/src/text_model.rs
  mistralrs/src/vision_model.rs
  mistralrs/src/xlora_model.rs
Due: cargo-fmt, ast-grep

refactor: Complete panic elimination in mistralrs-server (64 unwraps + 3 panics)
  mistralrs-server/src/agent_mode.rs
  mistralrs-server/src/interactive_mode.rs
Due: cargo-fmt, ast-grep

refactor: Optimize core hot paths - sequence and engine (27 unwraps eliminated)
  MVP_INTEGRATION_OPTIMIZATION.md
  mistralrs-core/src/engine/mod.rs
  mistralrs-core/src/sequence.rs
Due: cargo-fmt, ast-grep

refactor: Memory & performance optimization - 32 unwraps + allocation improvements
  MEMORY_OPTIMIZATION_STRATEGY.md
  mistralrs-core/src/kv_cache/full_cache.rs
  mistralrs-core/src/kv_cache/mod.rs
  mistralrs-core/src/kv_cache/rotating_cache.rs
  mistralrs-core/src/kv_cache/single_cache.rs
  mistralrs-core/src/pipeline/inputs_processor.rs
Due: cargo-fmt, ast-grep

refactor: Final core optimization - 50 unwraps eliminated (79% reduction)
  mistralrs-core/src/kv_cache/mod.rs
  mistralrs-core/src/pipeline/inputs_processor.rs
  mistralrs-core/src/pipeline/normal.rs
  mistralrs-core/src/pipeline/paths.rs
Due: cargo-fmt, ast-grep

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: \.toml$
  ast-grep: any of: \.rs$, \.toml$, \.py$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, but not: ^(target/|node_modules/|dist/|\.venv/)
  biome: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, but not: ^(target/|dist/|package-lock\.json$|tsconfig\.json$)
  pwsh-analyze: any of: ^(scripts/|tests/agent/|.*\.ps1$)
