Repository david-t-martel/mistral.rs: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, mistralrs-core, mistralrs-agent-tools, mistralrs-quant, mistralrs-vision, mistralrs-audio, mistralrs-server, mistralrs-mcp, mistralrs-tui

refactor(core): eliminate 26+ unwraps from critical runtime paths
  Cargo.toml
  PULL_REQUEST_SUMMARY.md
  UNWRAP_FIXES_SESSION_1.md
  mistralrs-agent-tools/src/lib.rs
  mistralrs-core/src/amoe/mod.rs
  mistralrs-core/src/distributed.rs
  mistralrs-core/src/engine/mod.rs
  mistralrs-core/src/engine/search_request.rs
  mistralrs-core/src/kv_cache/mod.rs
  mistralrs-core/src/kv_cache/rotating_cache.rs
  mistralrs-core/src/kv_cache/single_cache.rs
  mistralrs-core/src/paged_attention/scheduler.rs
  mistralrs-core/src/pipeline/inputs_processor.rs
  mistralrs-core/src/pipeline/normal.rs
  mistralrs-core/src/pipeline/paths.rs
  mistralrs-core/src/scheduler/default_scheduler.rs
  mistralrs-core/src/sequence.rs
  mistralrs-server/src/agent_mode.rs
  mistralrs-server/src/interactive_mode.rs
  mistralrs-server/src/mcp_server.rs
  mistralrs/src/anymoe.rs
  mistralrs/src/gguf.rs
  mistralrs/src/gguf_lora_model.rs
  mistralrs/src/gguf_xlora_model.rs
  mistralrs/src/lora_model.rs
  mistralrs/src/messages.rs
  mistralrs/src/text_model.rs
  mistralrs/src/vision_model.rs
  mistralrs/src/xlora_model.rs
Due: mistralrs-core, mistralrs-agent-tools, mistralrs-server

refactor(xlora): eliminate 60+ unwraps from xlora model implementations
  mistralrs-core/src/xlora_models/classifier.rs
  mistralrs-core/src/xlora_models/gemma.rs
  mistralrs-core/src/xlora_models/gemma2.rs
  mistralrs-core/src/xlora_models/llama.rs
  mistralrs-core/src/xlora_models/mistral.rs
  mistralrs-core/src/xlora_models/mixtral.rs
  mistralrs-core/src/xlora_models/phi2.rs
  mistralrs-core/src/xlora_models/phi3.rs
  mistralrs-core/src/xlora_models/starcoder2.rs
Due: mistralrs-core

docs: add unwrap elimination progress tracking
  UNWRAP_ELIMINATION_PROGRESS.md
Due: none

refactor: eliminate TODO! markers and critical unwraps in search/vision modules
  mistralrs-core/src/engine/search_request.rs
  mistralrs-core/src/models/quantized_llama.rs
  mistralrs-core/src/vision_models/qwen2_5_vl/mod.rs
  mistralrs-core/src/vision_models/qwen2vl/mod.rs
Due: mistralrs-core

docs: add comprehensive optimization session summary
  OPTIMIZATION_SESSION_SUMMARY.md
  scripts/install-ast-grep.sh
Due: none

refactor(gguf): eliminate unwraps in tokenizer production code
  mistralrs-core/src/gguf/gguf_tokenizer.rs
  scripts/install-ast-grep.sh
  scripts/utils/check-binary.sh
Due: mistralrs-core

fix: clippy warnings and TUI winit compatibility
  AGENTS.md
  mistralrs-agent-tools/src/mcp_server.rs
  mistralrs-core/src/distributed.rs
  mistralrs-core/src/engine/search_request.rs
  mistralrs-core/src/gguf/gguf_tokenizer.rs
  mistralrs-core/src/vision_models/conformer/pos_embed.rs
  mistralrs-core/src/vision_models/minicpmo/inputs_processor.rs
Due: mistralrs-core, mistralrs-agent-tools

docs: add comprehensive TUI optimization session summary
  TUI_OPTIMIZATION_SESSION.md
Due: none

fix(agent-tools): optimize vec initialization pattern
  mistralrs-agent-tools/src/core_integration.rs
Due: mistralrs-agent-tools

docs(tui): Add comprehensive TUI integration plan
  TUI_INTEGRATION_PLAN.md
Due: none

feat(agent-tools): Implement mkdir, touch, and cp file operations
  IMPLEMENTATION_ROADMAP.md
  SESSION_PROGRESS.md
  mistralrs-agent-tools/src/tools/file/cp.rs
  mistralrs-agent-tools/src/tools/file/mkdir.rs
  mistralrs-agent-tools/src/tools/file/touch.rs
Due: mistralrs-agent-tools

feat(server-core): implement tool call conversion for conversation history
  COMPREHENSIVE_OPTIMIZATION_PLAN.md
  mistralrs-core/src/vision_models/minicpmo/inputs_processor.rs
  mistralrs-server-core/src/responses.rs
Due: mistralrs-core

feat: comprehensive git and ci/cd automation
  SESSION_PROGRESS_REPORT.md
Due: none

docs(analysis): comprehensive codebase analysis report
  COMPREHENSIVE_CODEBASE_ANALYSIS.md
Due: none

docs: add comprehensive architecture and safety documentation
  docs/ARCHITECTURE.md
  docs/SAFETY.md
Due: none

test: add integration test suite framework and session summary
  DOCUMENTATION_IMPLEMENTATION_SUMMARY.md
  tests/integration_tests.rs
Due: none

feat(server): add 13 new agent tools to tool_registry
  mistralrs-server/src/tool_registry.rs
Due: mistralrs-server

docs: add agent tools completion summary
  AGENT_TOOLS_COMPLETE.md
Due: none

docs: add session completion summary
  SESSION_COMPLETE.md
Due: none

Update mistralrs-core/src/amoe/mod.rs
  mistralrs-core/src/amoe/mod.rs
Due: mistralrs-core

Update mistralrs-core/src/kv_cache/full_cache.rs
  mistralrs-core/src/kv_cache/full_cache.rs
Due: mistralrs-core

Update mistralrs-core/src/pipeline/normal.rs
  mistralrs-core/src/pipeline/normal.rs
Due: mistralrs-core

Update mistralrs-core/src/xlora_models/phi2.rs
  mistralrs-core/src/xlora_models/phi2.rs
Due: mistralrs-core

Update mistralrs-server/src/agent_mode.rs
  mistralrs-server/src/agent_mode.rs
Due: mistralrs-server

Update mistralrs-core/src/xlora_models/starcoder2.rs
  mistralrs-core/src/xlora_models/starcoder2.rs
Due: mistralrs-core

Update mistralrs-server/src/interactive_mode.rs
  mistralrs-server/src/interactive_mode.rs
Due: mistralrs-server

fix(core,server): implement Gemini & Codex code review suggestions
  Cargo.lock
  Cargo.toml
  mistralrs-core/src/pipeline/paths.rs
  mistralrs-core/src/vision_models/conformer/pos_embed.rs
  mistralrs-core/src/xlora_models/starcoder2.rs
  mistralrs-server-core/src/chat_completion.rs
  mistralrs-server-core/src/completions.rs
  mistralrs-server-core/src/responses.rs
  mistralrs-server/src/agent_mode.rs
  mistralrs-server/src/interactive_mode.rs
Due: mistralrs-core, mistralrs-server

Path conditions:
  unit: any of: src/, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  integration: any of: tests/, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-core: any of: mistralrs-core/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-agent-tools: any of: mistralrs-agent-tools/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-quant: any of: mistralrs-quant/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-vision: any of: mistralrs-vision/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-audio: any of: mistralrs-audio/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-server: any of: mistralrs-server/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-mcp: any of: mistralrs-mcp/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
  mistralrs-tui: any of: mistralrs-tui/**/*, but not: tests/**/*, benches/**/*, examples/**/*, **/tests/**/*, **/benches/**/*, **/*_test.rs, **/*_tests.rs, **/test_*.rs
